<h2>Edit library</h2>
<%= form_for :library, url: library_path(@library), method: :patch do |f| %>

  <p>
    Library name<br>
    <%= f.text_field(:name, {:class => 'form-control'}) %>
  </p>
  <p>
    Library address<br>
    <%= f.text_area(:street_address, {:class => 'form-control'}) %>
  </p>
  <p>
    Library number<br>
    <%= f.text_area(:library_id, {:class => 'form-control'}) %>
  </p>

  <p>
    <%= f.label :images %>
    <%= f.file_field :images, multiple: true, class: "form-control" %>
  </p>

  <p>
    <%= f.submit({:class => 'btn btn-success'}) %>
  </p>

<% end %>