<div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
  <div class="accordion-body">
    <h3>Library name: <%= @library.name %></h3>
    <h3>Library number: <%= @library.library_id %></h3>
    <h3>Library address: <%= @library.street_address %></h3>
    <h3>Library city: <%= @library.city %></h3>
    <h3>Library zip code: <%= @library.zip_code %></h3>
  </div>
  <p>

    <strong>Images:</strong>
    <br>
    <% if @library.images.attached? %>
      <% @library.images.each do |image| %>
        <%= image_tag image, width: '350px' %>
        <%#= link_to "Delete attachment", purge_attachment_path(@attachment),
                    method: :delete %>
        <%= link_to "Remove image", purge_image_library_path(@library),
                    method: :delete %>
      <% end %>
    <% end %>
  </p>

  <br>
  <%= link_to "Edit library", edit_library_path(@library), :class => 'btn btn-warning'%>
<%= button_to "Delete library", library_path(@library), method: :delete,
              data: {confirm: "Do you want delete library?"}, :class => 'btn btn-danger'%>
<%= link_to "Download PDF Book", download_one_path %>
<br>
</div>
